.ipynb_checkpoints/kc_house_data-checkpoint.csv
.ipynb_checkpoints/laptops-checkpoint.csv
.ipynb_checkpoints/Lesson 4-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem1_DZ1-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem2_DZ-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem2_withoutDZ-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem3_DZ-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem4_DZ-checkpoint.ipynb
.ipynb_checkpoints/PhY_for_An_Sem4_withoutDZ-checkpoint.ipynb
.ipynb_checkpoints/S2-checkpoint.ipynb
.ipynb_checkpoints/S3-checkpoint.ipynb
S4-HW.ipynb
S4.ipynb
